:root {
  --pr-color: #fff;
  --second-color: #0a0a0a;
  --cubicbz: cubic-bezier(0.9, 0, 0.1, 1);
  --fz-big: 60px;
  --pd: 50px;
}

* {
  box-sizing: border-box;
  font-weight: 800;
  margin: 0;
  padding: 0;
  font-feature-settings:
    'pnum' on,
    'lnum' on;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}